<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.BoardMapper" >
    <select id="getBoardList">
        SELECT
            *
        FROM
            testdb.board
    </select>
    <select id="getUserId" resultType="String">
        SELECT
            ins_user_id
        FROM
            testdb.board
        WHERE
            board_seq=#{seq}
    </select>
    <update id="updateBoard" parameterType="domain.Board">
        UPDATE
            testdb.board
        SET
            board_subject = #{board_subject},
            board_content = #{board_content},
            upd_date = now()
        WHERE
            board_seq=#{board_seq}
    </update>
    <insert id="insertBoard" parameterType="domain.Board">
        INSERT INTO
            testdb.board(
                         board_subject,
                         board_content,
                         board_writer,
                         ins_user_id,
                         ins_date,
                         image)
        VALUES
            (#{board_subject},
             #{board_content},
             #{board_writer},
             #{ins_user_id},
             now(),
             #{image})
    </insert>
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM
            testdb.board
        WHERE
            board_seq = #{seq}
    </delete>
    <select id="getBoardWriter" parameterType="String" resultType="String">
        SELECT
            board_writer
        FROM
            testdb.board
        WHERE
            ins_user_id = #{id}
    </select>
</mapper>