<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

    <select id="getAllUsers" resultType="domain.User">
        select * from testdb.user
    </select>
    <select id="getUser" resultType="domain.User">
        select * from testdb.user where class_no=#{class_no}
    </select>
    <insert id="signUp" parameterType="domain.User">
        insert into testdb.user(seq, class_no, name, major, field, id, pw)
        values(null, #{class_no}, #{name}, #{major} , #{field}, #{id}, #{pw})
    </insert>
    <insert id="insert" parameterType="domain.User">
        insert into testdb.user(seq, class_no, name, major, field, id, pw)
        values(null, #{class_no}, #{name}, #{major} , #{field}, #{id}, #{pw})
    </insert>
    <update id="update" parameterType="domain.User">
        update testdb.user
        set major = #{major}, field= #{field}, id=#{id}, pw=#{pw}
        where class_no = #{class_no}
    </update>
    <delete id="delete" parameterType="domain.User">
        delete from testdb.user
        where class_no = #{class_no}
    </delete>

</mapper>